/*Fredrick Östlund 2016*/

    body {
        background-color:#3f48cc;
		margin:0;
		padding:0;
    }

.navbar-inverse {
	 background-color:transparent !important;
	border-color: transparent !important;
	}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('../img/bg.png');
  height: 512px;
   background-color:transparent !important;
}

.jumbotron h1 {
 text-decoration: none;
 font-size: 100px;
 font-weight: 700;
  margin: 0;
  color: #fff;
}

section .row {
  margin: 0 0 30px;

}
	img {
    margin: auto;
}

h2 {
 font-size: 50px;
 font-weight: 500;
  margin: 0;
  color: #fff;
}

.close {
   color:white !important;
    	margin: 15px;
	font-size: 45px;
}

  .modal-header{
      background-color: #3f48cc;
	height: 60px;
 	padding: 0px;
   	 margin: 0px;
    
  }
  .modal-footer {
      background-color: lightblue;
  }

h3 {
  color:white !important;
  font-size: 25px;
  text-align: center;
}

	.mqtx {
		font-size: 20px;
		color:white !important;
}

.img-responsive {
    border-radius: 1px;
    background-color: #ABCDEF;
   transition: background-color 0.5s ease;
   padding:14px;
    margin-top:10px;
	 border:1px solid #ccc;
}

.active {
    background-color:#556677;
	opacity: 0.7;
}

#bild {
    width: 100%;
    height: auto;
}
.box {
    float: left;
    width: 100%;
}

.container {
    width: 100%;
}

footer {
	height: 100px;
	color:white !important;
  font-size: 15px;
  text-align: center;
      padding-top: 100px;
}

.foo {
	height: 130px;
	color: white !important;
  font-size: 15px;
  text-align: center;
   background-color: #3e3e28;
     padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
  
#myButt{
	  font-size: 38px;
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	margin: 4px 2px;
    cursor: pointer;
	width: 300px;
	  cursor: pointer;
}

/*media queries, the size of the text changes depending of screen*/
@media only screen and (max-width: 700px) {
   
	.mqtx {
		font-size: 15px;
}
.jumbotron h1 {
	font-size: 50px;
	}
}
@media only screen and (max-width: 500px) {
.jumbotron h1 {
	font-size: 40px;
	}
		.mqtx {
		font-size: 15px;
}
.img-responsive {
	padding:6px;
    margin-top:4px;
}


}
@media only screen and (max-width: 300px) {
.jumbotron h1 {
	font-size: 30px;
	}
		.mqtx {
		font-size: 10px;
}
.img-responsive {
	padding:0px;
    margin-top:0px;
}

}

