html{ 
background-color:#3f48cc;
}

    body {
        background-color:#3f48cc;
    }

/*Change the initial black navbar */
.navbar-inverse {
    background-color:#3f48cc;
    border-color: #3f48cc;
	//background: #87CEFA;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('../img/bg.png');
  height: 512px;
}

.jumbotron h1 {
 text-decoration: none;
 font-size: 100px;
 font-weight: 700;
  margin: 0;
  color: #fff;
}
section .row {
  margin: 0 0 30px;
  //width: 100%;
	/height:100%;

}
	img {
    margin: auto;
}

h2 {
	//font-size: 10%;
    text-shadow: 2px 2px #fff;
}

/* title 
.navbar-header .navbar-brand .navbar-toggle{
    background-color:#3f48cc;
	border-color: #3f48cc;
}
*/
.close {
   color:white !important;
    	margin: 15px;
	font-size: 45px;
}

  .modal-header{
      background-color: #3f48cc;
	height: 60px;
 	padding: 0px;
   	 margin: 0px;
    
  }
  .modal-footer {
      background-color: lightblue;
  }

h3 {
  color:white !important;
  font-size: 25px;
  text-align: center;
}

	.mqtx {
		font-size: 20px;
}
.img-responsive {
    border-radius: 1px;
    background-color: #ABCDEF;
   transition: background-color 0.5s ease;
   // display:inline;
  //  font-size:25px;
   padding:14px;
    margin-top:10px;
	 border:1px solid #ccc;

}

.active {
    background-color:#556677;
	opacity: 0.4;
}

/***********************
  OUTLINE BUTTONS
************************/
/*
.btn.outline {
    background: none;
    //padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}
*/
/*media queries, the size of the text changes depending of screen*/
@media only screen and (max-width: 700px) {
    body {
      //  background-color:lightblue;
    }
	.mqtx {
		font-size: 15px;
}
.jumbotron h1 {
	font-size: 50px;
	}
}
@media only screen and (max-width: 500px) {
.jumbotron h1 {
	font-size: 40px;
	}
		.mqtx {
		font-size: 15px;
}
.img-responsive {
	padding:6px;
    margin-top:4px;
}


}
@media only screen and (max-width: 300px) {
.jumbotron h1 {
	font-size: 30px;
	}
		.mqtx {
		font-size: 10px;
}
.img-responsive {
	padding:0px;
    margin-top:0px;
}

}

